# Ozon Logistics API Configuration
# ================================
# API endpoints (use test URLs for development)
OZON_LOGISTICS_API_URL=https://api-stg.ozonru.me/principal-integration-api/v1/
OZON_LOGISTICS_AUTH_URL=https://api-logistic-platform.ozon.ru/GetAuthToken
DEV_OZON_LOGISTICS_API_URL=https://api-stg.ozonru.me/principal-integration-api/v1/
DEV_OZON_LOGISTICS_AUTH_URL=https://api-logistic-platform.ozon.ru/GetAuthToken

OZON_LOGISTICS_CLIENT_ID=4
OZON_LOGISTICS_CLIENT_SECRET=4
DEV_OZON_LOGISTICS_CLIENT_ID=4
DEV_OZON_LOGISTICS_CLIENT_SECRET=4


OZON_LOGISTICS_IS_PROD=false

# Server Configuration
# =====================
# Port for the server (default: 3000)
PORT=3000
