PORT=3000
# Ozon Logistics API Configuration
# ================================
# API endpoints (use test URLs for development)
SERVER_DOMEN=https://orderinme.fvds.ru

OZON_LOGISTICS_API_URL=https://api-seller.ozon.ru
OZON_LOGISTICS_AUTH_URL=https://api-seller.ozon.ru

OZON_LOGISTICS_CLIENT_ID=....
OZON_LOGISTICS_CLIENT_SECRET=....
OZON_LOGISTICS_IS_PROD=false


TILDA_WEBHOOK_API_KEY=....

# SMTP Configuration
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=your_email@yandex.ru
SMTP_PASS=your_app_password
SMTP_FROM=your_email@yandex.ru
NOTIFY_EMAIL=your_email@yandex.ru